<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dummy blockchain</title>
  </head>
  <body>
    
    
          <h2>Create 10 initial stable coin against 10 ether</h2>
            <form action="/mint" id="mintForm">
              
                <input type="submit" value="mint" >
              
            </form> 

            </br>


          <h2>Check balance</h2>
            <form action="/bal" id="productForm">
                <input type="text" name="address" value="enter the address"/>
                <input type="submit" value="Check Balance" >
            </form> 

            </br>


            <h4 style="color:red"> <%= data %> </h4>

  </body>

</html>
